<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page_title|default:"ITMO" }}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block head_extra %}
    {% endblock head_extra %}

  </head>
  <body>

<!-- header -->
    {% block body_header %}
      <div class="body_header">
        {% include header_menu|default:"topmenu.html" %}
      </div>
    {% endblock body_header %}
<!-- /header -->

<!-- content -->
    {% block body_content %}
      <div align="center" class="body_content">
        <h1>{{ content_title|default:"ITMO University" }}</h1>
      </div>
    {% endblock body_content %}
<!-- /content -->

<!-- footer -->
    {% block body_footer %}
    {% endblock body_footer %}
<!-- /footer -->

  </body>
</html>