{% extends base_template|default:"faculties/base.html" %}

{% load user_tags %}


{% block body_content %}

  <div align="center">
    <h1>ITMO University</h1>
  </div>

  <div align="center">
    <h2>Faculties</h2>
  </div>
  <div>
    <table cellpadding="5">
      {% for object in object_list %}

        {% if view == "main" %}
          {% define object.acronym as url_toggle %}
        {% elif view == "faculty" %}
          {% define 'main' as url_toggle %}
        {% endif %}

        <tr>
          <td colspan="2"><a href="{% url url_toggle %}">{{ object }}</a></td>
        </tr>

        {% block faculty_departments %}
        {% endblock faculty_departments %}

      {% endfor %}
    </table>
  </div>

{% endblock body_content %}